.content__resources_resources_reources {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.content__resources h4{
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
  flex: 1 1 100%;
  color: #a7b0c2;
  font-size: 24px;
  letter-spacing: .03em;
  font-weight: 700;
  margin: 35px 0 25px;
}
.devkg__block{
  display: flex;
  gap: 10px;
  flex-wrap: wrap ;
}
.devkg-block{
  width: 282px;
  border: none;
  background: #007bff;
  display: flex;
  flex-wrap: wrap;
  
}
.devkg-block img{
  display: flex;  
  align-items: center;
  justify-content: center;
  background: #4ba1f1;
  font-size: 29px;
  color: #ffffff; 
  height: 55px;
  width: 55px;
}
.devkg-block p {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  margin: 17px 0px 0px 10px;
}
.telegram__chats__block{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.telgram-chats-block{
  width: 282px;
  height: 55px;
  border: none;
  background: #5c84f1;
  display: flex;
}

.telgram-chats-block span {
  display: flex;  
  align-items: center;
  justify-content: center;
  background: #4ba1f1;
  font-size: 29px;
  color: #ffffff; 
  height: 55px;
  width: 55px;
}

.telgram-chats-block p {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  margin: 17px 0px 0px 10px;
}
.telegram__chanels__block{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  
}
.telgram-channels-block{
  width: 282px;
  height: 55px;
  border: none;
  background: #5c84f1;
  display: flex;
}

.telgram-channels-block span {
  display: flex;  
  align-items: center;
  justify-content: center;
  background: #4ba1f1;
  font-size: 29px;
  color: #ffffff; 
  height: 55px;
  width: 55px;
}

.telgram-channels-block p {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  margin: 17px 0px 0px 10px;
}

.Communitycomponent-title {
  margin: 35px 0 25px;
  color: #a7b0c2;
  font-size: 24px;
  font-weight: 700;
}
.github__block{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.gitHub-block {
  width: 282px;
  height: 55px;
  border: none;
  background: #515151;
  display: flex;
}

.gitHub-block span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 29px;
  color: #ffffff;
  background: #262626;
  height: 55px;
  width: 55px;
}

.gitHub-block p {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  margin: 17px 0px 0px 10px;
}
.facebook__block{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.facebook-block {
  width: 282px;
  height: 55px;
  border: none;
  background: #445297;
  display: flex;
}

.facebook-block span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 29px;
  color: #ffffff;
  background: rgb(34, 36, 99);
  height: 55px;
  width: 55px;
}

.facebook-block p {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  margin: 17px 0px 0px 10px;
}
.website__block{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.website-block {
  width: 282px;
  height: 55px;
  border: none;
  background: #92e599;
  display: flex;
}

.website-block span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 29px;
  color: #ffffff;
  background: rgb(111, 200, 111);
  height: 55px;
  width: 55px;
}

.website-block p {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  margin: 17px 0px 0px 10px;
}
.youtube__block{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.youTube-block {
  width: 282px;
  height: 55px;
  border: none;
  background: #ff001e;
  display: flex;
}

.youTube-block span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 29px;
  color: #ffffff;
  background: rgb(201, 1, 1);
  height: 55px;
  width: 55px;
}

.youTube-block p {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  margin: 17px 0px 0px 10px;
}
.content__chats__resources_resources_reources {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.chat__chats__block {
  width: 282px;
  height: 55px;
  border: none;
  background: #0085ff;
  display: flex;
}

.chat__chats__block span {
  margin-top: 10px;
  font-size: 29px;
  color: #fff;
  margin-left: 5px;
}

.chat__chats__block p {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  margin: 17px 0px 0px 10px;
}
.CommunitycomponentChats-title {
  margin: 35px 0 25px;
  color: #a7b0c2;
  font-size: 24px;
  font-weight: 700;
}
@media screen and (max-width: 350px) {
  .chat__chats__block p {
      font-size: 14px;
  }
}


@media screen and (max-width: 350px) {
  .youTube-block p {
      font-size: 14px;
  }
  .website-block p {
      font-size: 14px;
  }
  .chat__block p {
    font-size: 14px;
}
.gitHub-block p {
    font-size: 14px;
}
.facebook-block p {
  font-size: 14px;
  }
}